<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>

      <handlers>
        <add
          name="aspNetCore"
          path="*"
          verb="*"
          modules="AspNetCoreModuleV2"
          resourceType="Unspecified" />
      </handlers>

      <aspNetCore
        processPath="dotnet"
        arguments=".\DiaCompanion.dll"
        stdoutLogEnabled="true"
        stdoutLogFile=".\logs\stdout"
        hostingModel="inprocess">

        <environmentVariables>

          <environmentVariable
            name="ASPNETCORE_ENVIRONMENT"
            value="Production" />

          <environmentVariable
            name="Storage__FundusRoot"
            value="G:\DiaCompanion\storage\fundus" />

          <environmentVariable
            name="Storage__AiMasksRoot"
            value="G:\DiaCompanion\storage\ai_masks" />

          <environmentVariable
            name="AiService__BaseUrl"
            value="http://127.0.0.1:8000" />

          <environmentVariable
            name="SmsGateway__BaseUrl"
            value="http://127.0.0.1:8091/" />

          <environmentVariable
            name="SmsGateway__ApiKey"
            value="SIEUDEPTRAI" />

          <environmentVariable
            name="SmsGateway__TimeoutSeconds"
            value="10" />

          <environmentVariable
            name="Jwt__SigningKey"
            value="chuoi-khoa-bi-mat-toi-thieu-32-ky-tu-diacompanion" />

        </environmentVariables>

      </aspNetCore>

    </system.webServer>
  </location>
</configuration>